.cartItem {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #000;
}

.cartItem .name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cartItem .quantityTxt {
  margin-right: 20px;
}

.cartItem .delete-btn:hover {
  cursor: pointer;
}

.cartItem .name .square {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #000;
}

.productCart {
  width: 300px;
  padding: 0 20px;
}